nav {
  background-color: #1a1a1a;

  .container {
    display: flex;
    justify-content: space-between;
    height: 40px;

    h1 {
      padding: 0;
      margin: auto 0;
      color: #f98011;
    }

    ul {
      margin: 0;
      padding: 0;
      height: 40px;
      list-style: none;
      display: flex;

      a {
        line-height: 40px;
        margin: auto 0;
        padding: 0 10px;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        transition: 0.3s;

        li {
        padding: 0;
        margin: 0;
        }
      }

      a:hover {
        background-color: #f98011;
      }
    }
  }
}

.empty-div {
  box-shadow: 0 5px 25px 2px #00000040;
  height: 5px;
  background-color: #f98011;
}

.selected {
  background-color: #f98011;
}